
@import './styles/variables.scss';

.App {
  border: 1px solid $light-gray;
  display: grid;
  margin: 3rem auto;
  padding: 1rem;
  row-gap: 1rem;
  width: 100%;
  @include respond-above(md) {
    max-width: 80rem;
  }
  .main {
    font-size: $font-size-sm;
    font-weight: 300;
    @include respond-above(md) {
      column-gap: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  } 
  &[data-units='imperial'] {
    .unit-metric {
      display: none;
    }
  }
  &[data-units='metric'] {
    .unit-imperial {
      display: none;
    }
  }
  footer {
    font-size: $font-size-xs;
    text-align: center;
    a {
      color: $primary;
    }
  }
}


